<div> 
    <h1>Books</h1>
    <div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>