<% if object.errors.any? %>
      <%= object.errors.count %>errors prohibited this obj from being saved:
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
<% end %>